<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="form" {{on 'submit' this.submitNow}}>
                <h2 class="form-heading mb-3">Fruit form</h2>
                <hr>
                <div class="mb-3">
                    <label for="fruitName">Fruit Name</label>
                    <Input @type="text" id="fruitName" @value={{this.fruitName}} class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="quantity">Quantity</label>
                    <Input @type="number" id="Quantity" @value={{this.quantity}} class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="price">Price</label>
                    <Input @type="number" id="Price" @value={{this.price}} class="form-control"/>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="submit">submit</button>
</div>
            </form>
        </div>
       
<div class="col-6">
     <h2 class="text-warning mt-3">{{this.tableheading}}</h2>
    
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
      <th scope="col">SNO</th>
      <th scope="col">FruitName</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
        </thead>
        <tbody>
            {{#each this.fruitData as |fruit index|}}
            <tr>
                <td>{{index}}</td>
                <td>{{fruit.name}}</td>
                <td>{{fruit.quantity}}</td>
                <td>{{fruit.price}}</td>
            </tr>

            {{/each}}
        </tbody>
    </table>
    </div>
</div>


</div>